/* Gonullu ol part*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
}

button,
body {
    font-family: 'Poppins', sans-serif;
}

#app {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a,
a:hover {
    text-decoration: none;
}

.top-bar {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background-color: #FD841F;
}

.top-bar span {
    color: #fff;
}

.top-bar ul {
    list-style: none;
    display: flex;
}

.top-bar li {
    margin: 0px 5px;
}

.top-bar a {
    color: #fff;
}

.top-bar a:hover {
    color: #222;
}

nav {
    background-color: #000000;
    padding: 5px 20px;
    display: flex;
    height: 110px;
    align-items: center;
}

nav a {
    color: #fff;
}

nav a:hover {
    color: #FD841F;
}

.logo {
    flex: 1;
}

.logo a {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.logo a:hover {
    color: #fff;
}

.logo img {
    width: 170px;
    margin-right: 10px;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li {
    padding: 15px 15px;
    font-size: 20px;
}

.toggle {
    font-size: 30px;
    display: none;
}

@media screen and (max-width:600px) {
    nav {
        display: block;
        position: relative;
        padding: 15px 20px;
    }
}

#banner {
    position: relative;
    background-image: url(../images/game.jpeg);
    background-size: cover;
    background-position: bottom center;
    height: calc(120% - 250px);
    width: 100%;
    text-align: center;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #000000 8%, #0000000e);
}

.banner-content {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 1;
}

.banner-title {
    font-size: 2.3em;
    margin: 0;

    margin-top: -180px;

}

.banner-description {
    margin: 0;
    width: 700px;
    margin-bottom: 30px;
}

.button {
    position: relative;
    border: 2px solid #FD841F;
    border-radius: 8px;
    background-color: #FD841F;
    padding: 8px 35px;
    width: 240px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-align: center;
    cursor: pointer;
    box-shadow: 5px 5px #000000;
}

.button a {
    color: #ffffff;
}
